*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

.recipe__name {
  background-image: url("../images/apple-pie.jpg");
  padding-top: 300px;
  padding-bottom: 300px;
  background-size: cover;
}

#recipe__title {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 5px;
}

.Description {
  border-bottom: 2px solid grey;
  max-width: 960px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Description__text {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  width: 840px;
  line-height: 1.25;
}

.Description__image {
  height: 50px;
  margin-bottom: 15px;
}

.Ingredients {
  max-width: 960px;
  border-bottom: 2px solid grey;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sections__titles {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.Ingredients__list {
  list-style: none;
}
.Ingredients__list > li::before {
  content: "- ";
  text-indent: 10px;
}

.Ingredients__list li {
  font-family: sans-serif;
  font-weight: 200;
}

.Ingredients__image {
  height: 60px;
  margin-bottom: 15px;
  align-self: center;
}
